@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=SUSE:wght@100..800&display=swap');

body {
    height: 100vh;
    margin: 0;
}

.container {
    flex-direction: row-reverse;
    height: 100vh;
}

.container .login {
    background: linear-gradient(270deg, #000000 80%, rgba(0, 0, 0, 0.80) 90%, rgba(0, 0, 0, 0.00) 98%);
    gap: 40px;
    height: 100vh;
    padding: 0 40px 0 40px;
    position: absolute;
    width: 35%;
    z-index: 2;
}

.container .fundo {
    height: 100vh;
    position: relative;
    right: 25%;
    width: 75%;
}

.container .login .info {
    gap: 30px;
    width: 60%;
}

.container .login .info h1 {
    color: #FFFFFF;
    font-family: "SUSE";
    margin: 0;
}

.container .login .info form {
    gap: 25px;
}

.container .login .info form .validacao {
    gap: 8px;
}

.container .login .info form .validacao .campos {
    gap: 20px;
}

.container .login .info form .validacao .campos input {
    border: 3px solid #D51D17;
    border-radius: 10px;
    font-family: "Inter";
    padding: 18px 40px;
}

.container .login .info form .validacao .campos input:nth-child(1) {
    background-image: url(../img/E-mail.svg);
    background-repeat: no-repeat;
    background-position: 18px center;
    padding: 18px 44px;
}

.container .login .info form .validacao .campos input:nth-child(2) {
    background-image: url(../img/Senha.svg);
    background-repeat: no-repeat;
    background-position: 18px center;
}

.container .login .info form .validacao div:nth-child(2) a {
    color: #06AAF0;
    font-family: "Inter";
    font-size: 11px;
}

.container .login .info form .entrar {
    gap: 8px;
}

.container .login .info form .entrar .enviar {
    background: #D51D17;
    border-radius: 10px;
    height: 51px;    
    text-decoration: none;
    width: 100%;
}

.container .login .info form .entrar input {
    background: #D51D17;
    border: none;    
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    width: 30%;
}

.container .login .info form .entrar p {
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 11px;
    margin: 0;
}

.container .login .info form .entrar p a {
    color: #06AAF0;
    font-family: "Inter";
    font-size: 11px;
}

.container .login div:nth-child(2) {
    gap: 15px;
}

.container .login div:nth-child(2) h2 {
    color: #FFF;
    font-family: "SUSE";
    margin: 0;
}

.container .login div:nth-child(2) h2 {
    color: #FFF;
    font-family: "SUSE";
    font-weight: 400;
    margin: 0;
}

.container .login div:nth-child(2) .plataformas {
    gap: 15px;
}

.container .login div:nth-child(2) .plataformas div {
    background: #FFF;
    border-radius: 25px;
    height: 51px;
    width: 51px;
}