<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <section>
            <img src="" alt="">
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Catalogo</li>
                    <li>Sobre Nós</li>
                    <li>Contato</li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <section>
            <div>
                <h1>Órion 2026</h1>
                <div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente quis perferendis vitae enim nesciunt fugit quam pariatur quasi, veritatis blanditiis libero, veniam reprehenderit excepturi quibusdam officia cum totam laboriosam. Perspiciatis! Voluptatem, suscipit. Reprehenderit reiciendis tempora expedita eos vitae in esse hic animi neque? Nulla placeat nesciunt sunt inventore quidem, tempore autem doloribus deserunt commodi obcaecati? Sunt, mollitia? Maiores, sed ex! Id, laboriosam iure sapiente eligendi saepe sit accusamus hic, praesentium distinctio delectus quo tempora sunt? Eaque neque animi reiciendis saepe autem libero quaerat. Amet repudiandae aliquid blanditiis, praesentium placeat numquam. Sit provident sequi accusantium repudiandae? Laboriosam soluta iure voluptas quo obcaecati facilis commodi expedita neque incidunt, sunt possimus suscipit porro quos sint cum nisi accusantium voluptatem. Fuga mollitia minus accusantium!</p>
                    <img src="" alt="">
                </div>
            </div>
            
        </section>
    </main>
    <footer>
        <section>
            <div>
                <ul>
                    <li>Home</li>
                    <li>Catalogo</li>
                    <li>Sobre Nós</li>
                    <li>Contato</li>
                </ul>
            </div>
        </section>
    </footer>

    <style>

    </style>

    <script>
        
    </script>
</body>
</html>