<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <h1>Alguma-coisa</h1>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/produtos/">Catálogo</a></li>
                <li><a href="">Sobre Nós</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
        </nav>
    </header>

    <footer>
        <p>© 2025-2025 ALGUMA COISA</p>
    </footer>

</body>
</html>